body {
    display: grid;
    font-family: manrope, sans-serif;
    grid-gap: 1rem;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main"
      "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
  }
  #pesquisa{
    height: 30px;
    font-size: 25px;
    display: block;
  }
  .lupa{
    position: absolute;
    width: 40px;
    height: 40px;
    padding-left: 770px;
    padding-top: 50px;
    display: block;
  }
  #formulario{
    position: relative;
  }
  #formulario > form{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-230%) translateX(-60%)
  }
  .o-header {
    grid-area: header;
    padding: 1.5rem;
    background: red;
    color:white;
    
  }
  .logo{
    width: 78px;
    height: 78px;
    padding-left: 40px;
    position: absolute;
    display: block;
  }
  .nome_logo{
    padding-top: 80px;
    color: white;
    padding-left: 15px;
    display: block;
  }
  .cliente{
    width: 60px;
    position: absolute;
    padding-left: 1000px;
    display: block;
  }
  .o-main {
    grid-area: main;
    background: grey;
    color: white;
  }
  main > p{
    color:black;
  }
  .carrinho{
    width:70px;
    position:absolute;
    display: block;
    padding-left:1200px;
  }
  .ajuda{
    width: 70px;
    position: absolute;
    padding-left: 1100px;
    display: block;
  }
  .preco{
    width:60px;
    height: 60px;
    position: absolute;
    padding-left: 1000px;
    padding-top: 55px;
  }
  .preco_letras{
    padding-top: 55px;
    padding-left: 1080px;
    position:absolute;
  }
  .caminhao{
    width:60px;
    height: 60px;
    padding-left: 180px;
    padding-top: 65px;
    position: absolute;
  }
  .caminhao_letras{
   padding-left: 270px;
    padding-top: 60px;
  }
  .cartao{
    width:60px;
    height: 60px;
    padding-left: 582px;
    padding-top: 60px;
    position: absolute;
  }
  
  .cartao_letras{
    padding-left: 660px;
    position:absolute;
    padding-top: 55px;
  }
  main > h2{
    padding-left: 70px;
    color: black;
  }
  
  #mais_vendidos{
    padding-top: 5px;
    padding-left: 70px;
    display: grid;
    height: 255px;
   grid-template-columns: repeat(auto-fill, 157px);
    gap: 30px 30px;
  }
  a { 
    color: black; 
  } 
  a > p{
    font-size: 20px;
  }
  a > h2{
    color: #ff0000;
      font-size: 20px;
  }
  #mais_vendidos > div{
   border: 1px solid grey;
    background-color: white;
  } 
  div > h2{
    color: red;
    font-size: 10px;
  }
  
  .shampoo{
    width: 80px;
    padding-top: 20px;
  }
  #promocao{
    padding-left: 70px;
    display: grid;
    height: 255px;
   grid-template-columns: repeat(auto-fill, 157px);
    gap: 30px 30px;
  }
  
  #promocao > div{
   border: 1px solid grey;
    background-color: white;
  }
  
  div{
    text-align:center;
  }
  
  div > p{
    color: black;
    font-size: 20px;
  }
  
  div > h3{
    color: black;
  }
  
  div > h2{
    color: red;
    font-size: 20px;
  }
  
  div > img{
    width: 87px;
    height: 87px;
    padding-top: 15px;
   
  }
  
  .o-footer {
    grid-area: footer;
    padding: 1rem;
    background: red;
    color: white;
  }
  
  
  
  